<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Boostrap progress bar with steps</title>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/bpb.css" />
</head>
<body ng-app="app">
	<div  ng-controller="appController">
		<div class="container">
		  <div class="jumbotron">
		    <h1>Bpbws</h1> 
		  </div>
		</div>	
		<div class="container">
            <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="{{progress.stp1}}">
                  <div class="text-center bs-wizard-stepnum">{{progress.stp1text}}</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                
                <div class="{{progress.stp2}}">
                  <div class="text-center bs-wizard-stepnum">{{progress.stp2text}}</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                
                <div class="{{progress.stp3}}">
                  <div class="text-center bs-wizard-stepnum">{{progress.stp3text}}</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                
                <div class="{{progress.stp4}}">
                  <div class="text-center bs-wizard-stepnum">{{progress.stp4text}}</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>

            <button type="button" ng-click="next()" class="btn btn-primary">Next</button>
			<button type="button" ng-click="prev()" class="btn btn-primary">prev</button>
		</div>	

    <div bs-wizzard></div>
	</div>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bpb.js"></script>
</body>
</html>